{% extends 'base.html' %}

{% block content %}
  <div class="main-content">
    <h1>Blog</h1>
    <div class="blog-post">
      <h2>Blog Post Title</h2>
      <p class="date">Posted on July 1, 2023</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac orci sapien. Vivamus sed nisl bibendum, faucibus arcu eu, pellentesque justo. Integer accumsan quam vitae sapien sagittis dictum. Etiam efficitur risus sed tellus tincidunt, vel dignissim libero porttitor. Praesent in felis a nibh ultricies aliquam eu vel magna. Integer facilisis tortor vitae lectus faucibus eleifend. Fusce rutrum, mauris in efficitur mollis, arcu massa malesuada elit, eu maximus enim metus vel ipsum.</p>
    </div>
    <div class="blog-post">
      <h2>Another Blog Post Title</h2>
      <p class="date">Posted on June 15, 2023</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac orci sapien. Vivamus sed nisl bibendum, faucibus arcu eu, pellentesque justo. Integer accumsan quam vitae sapien sagittis dictum. Etiam efficitur risus sed tellus tincidunt, vel dignissim libero porttitor. Praesent in felis a nibh ultricies aliquam eu vel magna. Integer facilisis tortor vitae lectus faucibus eleifend. Fusce rutrum, mauris in efficitur mollis, arcu massa malesuada elit, eu maximus enim metus vel ipsum.</p>
    </div>
  </div>
{% endblock %}
